<nav>
  <div class="nav-wrapper">
    <a href="/" class="logo">Muscles</a>
    <ul class="links">
      <li><a href="/public-stats">Public Stats</a></li>
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/auth/logout">Logout</a></li>
    </ul>
  </div>
</nav>