<!DOCTYPE html>
<html lang="en">
	<head>
    <meta charset="utf-8">
    <meta name="keywords" content="readability, researchers, reading">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="Imari Joy C. Borda">
		<title>Your Year in Pixels | Login</title>
		<!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Neucha&family=Satisfy&display=swap" rel="stylesheet">
		<!-- Primary Meta Tags -->
		<meta name="title" content="Readability Test For Researchers">
		<meta name="description" content="See and check that your text is not too verbose. Supports unlimited text length. Designed for researchers and writers who have long texts.">
		<meta name="image" property="og:image" content="https://github.com/ijborda/readability/blob/main/assets/readme/readme-1.png?raw=true">
		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://imarijoyborda.com/readability/">
		<meta property="og:title" content="Readability Test For Researchers">
		<meta property="og:description" content="See and check that your text is not too verbose. Supports unlimited text length. Designed for researchers and writers who have long texts.">
		<meta property="og:image" content="assets/readme/readme-1.png">
		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image">
		<meta property="twitter:url" content="https://imarijoyborda.com/readability/">
		<meta property="twitter:title" content="Readability Test For Researchers">
		<meta property="twitter:description" content="See and check that your text is not too verbose. Supports unlimited text length. Designed for researchers and writers who have long texts.">
		<meta property="twitter:image:src" content="https://github.com/ijborda/readability/blob/main/assets/readme/readme-1.png?raw=true">
    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- External CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="css/login.css">
		<!-- Add Favicon -->
		<link rel="icon" href="favicon.ico">
	</head>
	<body>
		<main>
      <div class="logo">
        <img src="images/muscles-logo-only.png">
      </div>
      <div class="text">
        <h1>Welcome to Muscles</h1>
        <p>A sharable exercise tracker.</p>
        <div class="login">
          <a href="/auth/google"><i class="fa-brands fa-google"></i> Log In With Google</a>
        </div>
      </div>
    </main>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
